<ion-header>
  <ion-navbar>
    <ion-title>계정정보</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-icon name="person" item-start ></ion-icon>
			<ion-label>
				사용자ID
			</ion-label>
			<div item-content>
				{{this.username}}
			</div>
		</ion-item>
		<ion-item>
			<ion-icon name="locate" item-start ></ion-icon>
			<ion-label>
				사이트 번호
			</ion-label>
			<ion-input *ngIf="username == 'admin'" [(ngModel)]="siteId"></ion-input>
			<button item-end *ngIf="username == 'admin'"  ion-button (click)="changeAccount()">계정변경</button>
			<div item-content *ngIf="username != 'admin'">
				{{this.siteId}}
			</div>
		</ion-item>
		<ion-item>
			<ion-icon name="speedometer" item-start ></ion-icon>
			<ion-label>
				디바이스
			</ion-label>
			<div item-content>
				{{this.device}}
			</div>
		</ion-item>
		<ion-item>
			<ion-icon name="pin" item-start ></ion-icon>
			<ion-label>
				위치
			</ion-label>
			<div item-content>
				{{this.location}}
			</div>
		</ion-item>
		<ion-item>
			<ion-icon name="call" item-start ></ion-icon>
			<ion-label>
				핸드폰
			</ion-label>
			<div item-content>
				{{this.phone}}
			</div>
		</ion-item>
		<ion-item-divider>
			채널설정
		</ion-item-divider>
		<ion-row *ngFor="let i of [0,1,2,3,4,5,6,7]" >
			<ion-col width-20>
				<ion-item>
					<ion-label>ch{{i+1}}</ion-label>
					<ion-checkbox [(ngModel)]="chDisplay[i]" class="displayBox"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col width-40>
				<ion-item>
					<ion-input item-content [(ngModel)]="chNames[i]" placeholder="이름"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col width-40>
				<ion-item>
					<ion-input item-content [(ngModel)]="chUnits[i]" placeholder="단위"></ion-input>
				</ion-item>
			</ion-col>
			<ion-item color="light"  [ngClass]="{true:'transition',false:'hide'}[chDisplay[i]]"  >	
				<ion-label stacked>알람기준<ion-row>
					<ion-col width-50>
						<ion-item>
							<ion-label stacked>최저값</ion-label>
							<ion-input [(ngModel)]="chRanges[i].lower" placeholder="5"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col width-50>
						<ion-item>
							<ion-label stacked>최고값</ion-label>
							<ion-input [(ngModel)]="chRanges[i].upper" placeholder="5"></ion-input>
						</ion-item>
					</ion-col>
					<!-- <ion-badge item-end color="danger">최저 : {{chRanges[i].lower}}</ion-badge>
					<ion-badge item-end color="danger">최고 : {{chRanges[i].upper}}</ion-badge> -->
				</ion-row></ion-label>			
				<ion-range [(ngModel)]="chRanges[i]" min="-50" max="100" dualKnobs="true" step="0.2" snaps="true" pin="true">
					<ion-label range-left small>-50</ion-label>
					<ion-label range-right>100</ion-label>
				</ion-range>
			</ion-item>
		</ion-row>
	</ion-list>
	<button ion-button full (click)="saveSetting()">저장</button>
</ion-content>
