<script src="../../../node_modules/chartjs-plugin-zoom/chartjs-plugin-zoom.min.js"></script>


<ion-header>
  <ion-navbar>
    <ion-title>Farming Data Logger</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding #pageContent fullscreen>
	<ion-card>
		<ion-card-content>
			<canvas #lineCanvas></canvas>
		</ion-card-content>
    </ion-card>
	<ion-list>
		<ion-item>
			<ion-icon name="time" item-start ></ion-icon>
			<ion-label>
			  측정시간
			</ion-label>
			<div item-content>
				{{this.date | date: 'yyyy/MM/dd H:mm:ss'}}
			</div>
		</ion-item>
		
		<ion-row *ngFor="let i of [0,1,2,3,4,5,6,7]">
			<ion-item *ngIf="this.setting != null && this.setting.chDisplay[i] != 0">
				<ion-icon name="thermometer" item-start ></ion-icon>
				<ion-label>{{this.setting.chNames[i]}}</ion-label>
				<div item-content>
					{{this.ch[i]}} {{this.setting.chUnits[i]}}
				</div>
			</ion-item>
		</ion-row>
		<!--
		<ion-row *ngFor="let display of chDisplay; let i = index">
			<ion-item *ngIf="display != 0 && this.setting.chNames.length > i && this.setting.chUnits.length > i && this.ch.length > i">
				<ion-icon name="thermometer" item-start ></ion-icon>
				<ion-label>{{this.setting.chNames[i]}}</ion-label>
				<div item-content>
					{{this.ch[i]}} {{this.setting.chUnits[i]}}
				</div>
			</ion-item>
		</ion-row>
		
		<ion-item>
			<ion-icon name="thermometer" item-start ></ion-icon>
			<ion-label>{{this.setting.chNames[0]}}</ion-label>
			<div item-content>
				{{this.temp}} ℃
			</div>
		</ion-item>
		<ion-item>
			<ion-icon name="ios-pulse" item-start ></ion-icon>
			<ion-label>습도</ion-label>
			<div item-content>
				{{this.humi}} RH
			</div>
		</ion-item>
		-->
		<ion-item>
			<ion-icon name="locate" item-start ></ion-icon>
			<ion-label>
				사이트 번호
			</ion-label>
			<div item-content>
				{{this.siteID}}
			</div>
		</ion-item>
		<ion-item>
			<ion-icon name="power" item-start ></ion-icon>
			<ion-label>
				상태
			</ion-label>
			<div item-content>
				{{this.alive}}
			</div>
		</ion-item>
	</ion-list>
	<button ion-button full (click)="logout()">로그아웃</button>
	<script>
		//setInterval(updateData(), 3000);
	</script>
</ion-content>
